header {
    background: url("../assets/images/background.jpg") no-repeat;
    background-color: #333333;
    background-size: cover;
    color: $c_white;
    font-family: $t_family_alt;

    .header__logo,
    .header__menu,
    .header__account {
        padding: $d_margin_big 0 0 0;

        @include media($tablet) {
            padding: $d_margin_small 0 0 0;
        }
    }

    .header__logo {
        @include span-columns(2);

        h1 a {
            color: $c_white;
            text-decoration: none;
        }

        @include media($tablet) {
            @include span-columns(12);

            h1 {
                text-align: center;
            }
        }
    }

    .header__menu {
        @include span-columns(10);
        @include omega();

        menu {
            margin: 0;
        }

        ul {
            float: right;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            margin: 7px $d_margin_small 0 0;

            a {
                color: $c_white;
                text-decoration: none;
                line-height: $t_size_h1;

                &:hover {
                    border-bottom: 1px solid $c_white;
                }
            }

            &.active {
                a {
                    border-bottom: 1px solid $c_white;
                }
            }

            &.mobile_show {
                display: none;

                background: $c_red;
                padding: 10px 0;
                width: 80%;
                margin: 0 auto;
                border-radius: 3px;
            }
        }

        @include media($tablet) {
            @include span-columns(12);

            ul {
                text-align: center;
                float: none;
            }

            li {
                width: 100%;
                clear: both;
                display: none !important;

                &.mobile_show {
                    display: block !important;
                }

                &.show {
                    display: inherit !important;
                }


            }
        }
    }

    .header__account {
        @include span-columns(4);
        @include omega();
        text-align: right;

        li {
            display: inline-block;
            margin: 7px 0 0 0;

            a {
                color: $c_white;
                text-decoration: none;
                line-height: $t_size_h1;

                &:hover {
                    border-bottom: 1px solid $c_white;
                }
            }

            &.account_register {
                margin: 0 0 0 $d_margin_small;

                a {
                    display: inline-block;
                    border-radius: $d_radius_base;
                    padding: 7px 15px;
                    text-decoration: none;
                    background: $c_red;
                    color: $c_white;

                    &:hover {
                        background: darken($c_red, 5);
                        border-bottom: none;
                    }
                }
            }
        }

        .account__image {
            position: absolute;
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-left: 10px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        .account__name {
            display: inline-block;
            line-height: 30px;
            padding-top: 6px;

            a {
                color: $c_white;
                text-decoration: none;
            }
        }

        @include media($tablet) {
            display: none;
        }
    }

    .header__mobile {
        display: none;
    }

    .header__content {
        @include span-columns(12);
        margin: $d_margin_big 0;
        text-align: center;

        .header__intro {
            margin: 0 0 $d_margin_small 0;
        }

        .header__subtitle {
            color: rgba($c_white, .5);
        }
    }
}
