@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon"; // or "bourbon" when in Rails
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers"; // or "neat-helpers" when in Rails

$max-width: 1140px;

// Define your breakpoints
$desktop: new-breakpoint(max-width 1440px 12);
$tablet: new-breakpoint(max-width 768px 12);
$mobile: new-breakpoint(max-width 480px 12);