<nav>
	<ul>
		<li class="mobile_show">
			<a href="#">Toon menu</a>
		</li>
		<li>
			<a href="/#/events">Events</a>
		</li>
		<li>
			<a href="/#/about">Over Tikee</a>
		</li>

		<li class="logged_in">
			<a href="/#/account/tickets">Mijn Tickets</a>
		</li>
		<li class="logged_in">
			<a href="/#/account/events">Mijn Events</a>
		</li>
		<li class="logged_in">
			<a href="/#/logout" ng-click="logout()">Logout</a>
		</li>

		<li class="not_logged_in">
			<a href="/#/login" ng-click="login()">Login</a>
		</li>
		<li class="not_logged_in">
			<a href="/#/register" ng-click="register()">Register</a>
		</li>
	</ul>
</nav>
