.main__account {

    width: 1140px;
    margin: 0 auto;

    .container_events {
        @include span-columns(8);
        margin-right: 0;
        margin-bottom: 50px;

        input[type=text],
        input[type=time],
        input[type=date],
        textarea {
            background: #f2f2f2;
            width: 48%;
            margin-right: 2%;
            margin-bottom: 2%;
            margin-top: 2%;
            float: left;
            color: black;
        }

        input[type=time],
        input[type=date] {
            padding-left: 20px;
        }

        input[type=file] {
            margin-top: 4%;
            margin-bottom: 0;
        }

        textarea {
            max-width: 98%;
            min-width: 98%;
            min-height: 350px;
            border: 0;
            padding: 10px;
        }

        input[type=submit] {
            width: 98%;
        }

        article.event {
            margin-bottom: 30px;
            background: #ebebeb;
            padding: 10px;
            height: 120px;
            border-radius: 3px;
            overflow: hidden;

            .event__photo {
                width: 100px;
                height: 100px;
                background-size: cover;
                float: left;
                overflow: hidden;
                border-radius: 3px;
            }

            .event__detail {
                float: left;
                margin-left: 20px;
                color: black;
                text-decoration: none;
                height: 100px;
                max-width: 600px;

                h2 {
                    padding-bottom: 5px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .account {
        @include span-columns(4);
        margin-bottom: 200px;

        .account_part {
            @include span-columns(12);
            margin-bottom: 20px;
            background: #ebebeb;
            padding: 20px;
            border-radius: 3px;

            a { color: black; }

            p {
                display: block;
                width: 90%;
                padding: 0;
                float: left;
                font-family: $t_family_alt;
                font-weight: 800;
            }

            h4 {
                border-radius: 100%;
                height: 30px;
                width: 30px;
                padding-top: 3px;
                text-align: center;
                background: #b5b5b5;
                margin: 0;
                float: right;
            }
        }

        .hover:hover,
        .active {
            background: #d8d8d8;
        }
    }
}
