<div class="search">
    <!-- start header -->
    <header>
        <div class="container">
            <!-- start topbar -->
            <div class="header__logo">
                <h1>
                    <a href="/">Tikee</a>
                </h1>
            </div>
            <div class="header__menu">
                <nav>
                	<ul>
                		<li class="mobile_show">
                			<a href="#">Toon menu</a>
                		</li>
                		<li>
                			<a href="/#/events">Events</a>
                		</li>
                		<li>
                			<a href="/#/about">Over Tikee</a>
                		</li>

                		<li class="logged_in">
                			<a href="/#/account/tickets">Mijn Tickets</a>
                		</li>
                		<li class="logged_in">
                			<a href="/#/account/events">Mijn Events</a>
                		</li>
                		<li class="logged_in">
                			<a href="/#/logout" ng-click="logout()">Logout</a>
                		</li>

                		<li class="not_logged_in">
                			<a href="/#/login" ng-click="login()">Login</a>
                		</li>
                		<li class="not_logged_in">
                			<a href="/#/register" ng-click="register()">Register</a>
                		</li>
                	</ul>
                </nav>
            </div>
            <!-- end topbar -->

            <!-- start mobile menu -->
            <div class="header__mobile">
                <div class="mobile__icon">
                    <a href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="mobile__menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="/#/events">Events</a>
                            </li>
                            <li>
                                <a href="/#/about">Over Tikee</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- end mobile menu -->

            <!-- start header content -->
            <div class="header__content">
                <div class="header__eventinfo">
                    <h1>Zoeken</h1>
                </div>
            </div>
            <!-- end header content -->
        </div>
    </header>
    <!-- end header -->

    <!-- start black -->
    <div id="black">
        <div id="login" class="blacks">
            <div class="buy__header">
                <h1>Login</h1>
                <h2 ng-click="hide_black()">X</h2>
                <p></p>
            </div>
            <div class="buy__form">
                <input type="text" name="login_username" placeholder="Username">
                <input type="password" name="login_password" placeholder="Password">
                <input type="submit" value="Login" ng-click="login_user()">
            </div>
        </div>
        <div id="register" class="blacks">
            <div class="buy__header">
                <h1>Register</h1>
                <h2 ng-click="hide_black()">X</h2>
                <p></p>
            </div>
            <div class="buy__form">
                <input type="text" name="register_username" placeholder="Username">
                <input type="text" name="register_email" placeholder="E-mail">
                <input type="text" name="register_first_name" placeholder="First name">
                <input type="text" name="register_last_name" placeholder="Last name">
                <input type="password" name="register_password" placeholder="Password">
                <input type="password" name="register_confirm_password" placeholder="Password confirm">
                <input type="submit" value="Register" ng-click="register_user()">
            </div>
        </div>
    </div>
    <!-- end black -->

    <!-- start event -->
    <section class="events">
        <div class="container">
            <h2 class="nothing"></h2>

            <article class="event" ng-repeat="event in events_search">
                <a href="/#/events/{{ event.id }}">
                    <div class="event__photo" style="background-image: url('http://www.tikee.be:3000/{{ event.image }}')">
                        <div class="event__price">
                            <span>&euro; {{ event.price }}</span>
                        </div>
                    </div>
                    <h1>
                        {{ event.name }}
                    </h1>
                    <p class="event__date">
                        {{ event.datetime }} om {{ event.time }}
                    </p>
                </a>
            </article>
        </div>
    </section>
    <!-- end event -->


    <!-- start events -->
    <section class="events">
        <div class="container">
            <h2 class="section__title">Deze evenementen zijn ook de moeite waard!</h2>

            <div class="container">
                <article class="event" ng-repeat="event in latest_events">
                    <a href="/#/events/{{ event.id }}">
                        <div class="event__photo" style="background-image: url('http://www.tikee.be:3000/{{ event.image }}')">
                            <div class="event__price">
                                <span>&euro; {{ event.price }}</span>
                            </div>
                        </div>
                        <h1>
                            {{ event.name }}
                        </h1>
                        <p class="event__date">
                            {{ event.datetime }} om {{ event.time }}
                        </p>
                    </a>
                </article>
            </div>
        </div>
    </section>
    <!-- end events -->

    <!-- start newsletter -->
    <section class="newsletter">
        <div class="container">
            <div class="content">
                <p>
                    Wil je graag op de hoogte blijven van <strong>wijze feestjes en coole events</strong>? Abonneer je dan
                    snel op onze nieuwsbrief en ontvang wekelijks <strong>de beste events bij jou in de buurt</strong>!
                </p>
                <div class="newsletter__form">
                    <form action="//shaunjanssens.us1.list-manage.com/subscribe/post?u=7b962871708a8e6f019a19e40&amp;id=96c1ce306e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="text" name="EMAIL" value="" placeholder="Gewoon je e-mailadres, meer is niet nodig" id="mce-EMAIL">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" value="abonneren">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end newsletter -->

    <!-- start footer -->
    <footer>
        <div class="container">
            <!-- start footerbar -->
            <div class="footer__logo">
                <p>
                    <a href="/">Tikee</a>
                </p>
            </div>
            <div class="footer__menu">
                <nav>
                    <ul>
                        <li>
                            <a href="/#/about">Over Tikee</a>
                        </li>
                        <li class="footer__menu--social">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="footer__menu--social">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- end footerbar -->
        </div>
    </footer>
    <!-- end footer -->
</div>
