$fonts: 'Open Sans', Arial, sans-serif;
$red: #E94B51;
$red_hover: #9B3135;
$blue: #0E1C29;
$blue_hover: #254360;

$screen-to-desktop: 780px;

body {
	font-family: $fonts;
	font-size: 16pt;
	text-align: center;
}

.mobile_hidden {
	display: none;
}

.blacks {
	display: none;
}

#content {
	width: 100%;

	#black,
	#black_login,
	#black_register {
		background: black;
	}

	input,
	button {
		box-sizing: border-box;
		width: 90%;
		border: 0;
		margin: 20px 5% 0;
		border-radius: 5px;
		background: rgba(255, 255, 255, .3);
		padding: 10px;
		color: white;
		font-size: 1.2rem;
		text-align: center;
		font-family: $fonts;
	}

	button {
		background: $red;
		cursor: pointer;
	}

	button:hover {
		background: $red_hover;
	}

	nav {
		width: 90%;
		margin: 20px 5%;
		border-radius: 5px;
		background: rgba(255, 255, 255, .3);
		height: 50px;
		overflow: hidden;
		position: relative;

		i {
			position: absolute;
			right: 15px;
			top: 9px;
			font-size: 2rem;
			color: white;
		}

		a {
			display: block;
			padding: 15px 10px;
			color: white;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	#header {
		color: white;
		width: 100%;
		min-height: 150px;
		background: black;
		padding: 20px 0;

		h1 {
			font-size: 2.5rem;
			font-weight: 600;
		}

		h2 {
			padding: 0 50px;
			line-height: 200%;
		}
	}

	main {
		min-height: 150px;
		overflow: auto;

		h1 {
			color: black;
			text-align: center;
			padding: 20px 0;
			font-weight: 600;
			line-height: 150%;
		}

		button {
			margin: 0 20% 20px;
			width: 60%;
		}

		article {
			box-sizing: border-box;
			width: 46%;
			margin: 0 2% 30px;
			float: left;

			.event_image {
				width: 100%;
				padding-bottom: 100%;
				position: relative;
				background-size: cover;
				background-image: url("../images/articles/article.jpg");
				background-position: center center;

				span {
					position: absolute;
					top: 5px;
					right: 5px;
					background: rgba(255, 255, 255, .5);
					border-radius: 5px;
					font-size: .8rem;
					font-weight: 600;
					padding: 10px 20px;
				}
			}

			h2 {
				padding-top: 10px;
				font-weight: 600;
				line-height: 150%;
				font-size: 1.2rem;
			}

			h3 {
				line-height: 150%;
				color: rgba(0, 0, 0, .5);
				font-size: .8rem;
			}
		}
	}

	footer {
		width: 100%;
		min-height: 150px;
		background: $red;

		h2 {
			color: white;
			padding: 10px;
			line-height: 200%;

			span {
				font-weight: 800;
			}
		}

		::-webkit-input-placeholder { color: white; }
		:-moz-placeholder { color: white; }
		::-moz-placeholder { color: white; }
		:-ms-input-placeholder { color: white; }

		button {
			background: $blue;
		}

		button:hover {
			background: $blue_hover;
		}

		.footer_nav {
			margin-top: 30px;
			padding: 20px 0;
			background: $blue;
			overflow: auto;

			h1 {
				width: 30%;
				float: left;
				color: white;
				padding-top: 20px;
				font-size: 2rem;
			}

			nav {
				width: 66%;
				margin: 10px 2%;
			}
		}
	}
}

@media (min-width: $screen-to-desktop) {
	
	.mobile_hidden {
		display: block;
	}

	#content {
		#header {
			box-sizing: border-box;
			min-height: 100vh;
			width: 100%;
			position: relative;

			div {
				width: 80%;
				margin: 20px auto;
			}

			.fa-angle-down {
				position: absolute;
				left: 50%;
				right: 50%;
				bottom: 30px;
				font-size: 5rem;
			}

			nav {
				float: left;
				width: 80%;
				margin: 0;
				margin-bottom: 20vh;
			}

			h1 {
				width: 20%;
				float: left;
			}

			h2 {
				font-size: 3rem;
			}

			input {
				width: 65%;
				margin: 20px 5% 0;
				float: left;
				text-align: left;
				padding: 20px;
				font-size: 1.4rem;
			}

			button {
				box-sizing: border-box;
				width: 20%;
				float: left;
				margin: 20px 0 0 0;
				padding: 20px;
				font-size: 1.4rem;
			}
		}

		nav {			
			background: none;
			height: 50px;
			overflow: inherit;

			i { display: none; }

			a {
				padding: 20px 30px;
				font-size: 1rem;
				float: left;
			}

			#extra {
				width: auto;
				float: right;

				a {
					margin: -10px 0 0 20px;
					padding: 10px 30px;
				}

				a:first-child {
					border: 2px solid white;
					border-radius: 5px;
				}

				a:last-child {
					background: $red;
					border-radius: 5px;
					border: 2px solid $red;
				}

				a:last-child:hover {
					background: $red_hover;
					border: 2px solid $red_hover;
				}
			}
		}

		.organiseer {
			width: 100%;
			background: white;
			margin: 40px 0;
			overflow: auto;

			div {
				width: 1140px;
				margin: 0 auto;

				p {
					display: block;
					width: 70%;
					float: left;
					padding-top: 20px;
				}

				button {
					width: 20%;
					float: left;
					margin: 0;
					padding: 20px 10px;
					margin-left: 10%;
				}
			}
		}

		.steps {
			width: 100%;
			background: white;
			margin: 40px 0;
			overflow: hidden;

			button {
				width: 20%;
				margin: 50px 40% 0;
			}

			.center {
				width: 1140px;
				margin: 20px auto;

				.step {
					width: 33%;
					float: left;
					text-align: center;

					h1 {
						box-sizing: border-box;
						width: 60px;
						height: 60px;
						margin: 10px auto;
						color: white;
						background: $red;
						font-size: 2rem;
						padding-top: 13px;
						font-weight: 800;
						border-radius: 50%;
					}

					h2 {
						font-weight: 800;
						padding-bottom: 10px;
						padding: 20px 0;
					}

					p {
						line-height: 180%;
						font-size: 1rem;
					}
				}
			}
		}

		main {
			background: #ebebeb;

			button {
				margin: 0 40% 50px;
				width: 20%;
				clear: both;
			}

			.events {
				margin: 0 auto;
				width: 1140px;
			}

			h1 {
				text-align: left;
			}

			article {
				width: 21%;
				background: white;
				padding-bottom: 10px;
			}
		}

		footer {
			.center {
				width: 1140px;
				margin: 0 auto;
				overflow: auto;

				h2 {
					font-size: 1.2rem;
					padding: 30px;
				}

				input {
					box-sizing: border-box;
					width: 65%;
					margin: 20px 5% 0 5%;
					float: left;
					text-align: left;
					padding: 20px;
				}

				button {
					box-sizing: border-box;
					width: 20%;
					margin: 20px 5% 0 0;
					float: left;
					padding: 20px;
				}
				
				nav {
					margin: 25px 0;
					width: 100%;
					overflow: initial;

					a {
						padding: 30px;
					}
				}

				h1 {
					padding: 20px;
					margin: 25px 30px;
					width: auto;
				}
			}
		}
	}
}
