* {
    box-sizing: border-box;
}

section, main {
    padding: $d_margin_big;
    clear: both;

    .section__title {
        @extend h1;
        padding: 0 0 $d_margin_big 0;
    }

    @include media($tablet) {
        padding: $d_margin_small;

        .section__title {
            padding: 0 0 $d_margin_small 0;
        }
    }
}

.general main {
    @include span-columns(8);
    @include shift(2);

    @include media($tablet) {
        @include span-columns(12);
        @include shift(0);
    }
}

.cta__organise {
    .content {
        @include span-columns(10);

        p {
            margin-top: 13px;
        }
    }
    .button {
        @include span-columns(2);
        @include omega();
        text-align: right;
    }

    @include media($tablet) {
        .content {
            @include span-columns(12);
            margin-bottom: 20px;
        }
        .button {
            @include span-columns(12);

            a {
                width: 100%;
            }
        }
    }
}

.events {
    article {
        @include span-columns(3);
        @include omega(4n);

        background: $c_grey;
        padding: 0 0 $d_box_padding 0;
        margin-bottom: $d_margin_small;
        border-radius: $d_radius_base;

        a {
            color: inherit;
            text-decoration: inherit;
        }

        .event__photo {
            height: 280px;
            background-size: cover;
            text-align: right;
            padding: $d_box_padding;

            .event__price {
                display: inline-block;
                background: rgba($c_white, .6);
                padding: $d_box_padding;
                border-radius: $d_radius_base;
                font-size: $t_size_small;
                font-weight: $t_weight_bold;
            }
        }

        h1 {
            padding: $d_box_padding;
            font-size: $t_size_h3;
        }

        p {
            font-size: $t_size_small;
            margin: 0;
            padding: 0 $d_box_padding 0;
        }

        @include media($tablet) {
            @include span-columns(6);
            @include omega(2n);
            margin-bottom: 20px;

            .event__photo {
                height: 160px;
            }
        }

        @include media($mobile) {
            @include span-columns(12);
            @include omega(1n);
            margin-bottom: 20px;

            .event__photo {
                height: 160px;
            }
        }

    }
}


.steps {
    .step {
        @include span-columns(4);
        @include omega(3n);

        text-align: center;

        .step__count {
            display: inline-block;
            width: 60px;
            height: 60px;
            font-family: $t_family_alt;
            background: $c_red;
            text-align: center;
            border-radius: 50%;

            span {
                line-height: 60px;
                color: $c_white;
                font-size: $t_size_h1;
            }
        }

        .step__content {
            padding: $d_margin_small 0 0 0;

            h3 {
                @extend h2;
                padding: 0 0 $d_margin_small 0;
            }
        }

        @include media($tablet) {
            @include span-columns(12);
            @include omega(1);

            margin-bottom: 30px;
        }
    }
}

.newsletter {
    background: $c_red;
    color: $c_white;
    text-align: center;

    .content {
        @include span-columns(8);
        @include shift(2);

        input[type=text] {
            @include span-columns(8);
        }
        input[type=submit] {
            @include span-columns(4);
            background: $c_black;
        }
    }

    @include media($tablet) {
        .content {
            @include span-columns(12);
            @include shift(0);

            input[type=text] {
                @include span-columns(12);
                margin-bottom: 20px;
            }
            input[type=submit] {
                @include span-columns(12);
                background: $c_black;
            }
        }
    }
}

.search {
    input {
        text-align: center;
    }

    input[type=text] {
        @extend .input__darken;
    }

    #input_category {
        @include span-columns(3);
    }

    #input_place {
        @include span-columns(3);
    }

    #input_keywords {
        @include span-columns(4);
    }

    input[type=submit] {
        @include span-columns(2);
    }
}

.cta__more {
    clear: both;
    padding: $d_margin_big 0 0 0;
    text-align: center;

    @include media($tablet) {
        padding: $d_margin_small 0 0 0;
    }
}
