// Typography

.md-fab {
  md-icon.fa {
    font-size: 1.4rem;
  }
}

body {
  font-family: $t_family_base;
  font-weight: $t_weight_base;
  font-size: $t_size_base;
  color: $c_black;
}

h1, .h1,
h2, .h2,
h3, .h3,
.font-alt {
  font-family: $t_family_alt;
  font-weight: $t_weight_base;
  margin: 0;
}

h1, .h1 {
  font-size: $t_size_h1;
}

h2, .h2 {
  font-size: $t_size_h2;
}

h3, .h3 {
  font-size: $t_size_h3;
}

ul {
  margin: 0;
}

p {
  line-height: $t_line-height_base;
  margin: 0;
  padding: 0 0 $d_margin_small 0;

  &:last-child {
    padding: 0;
  }
}

strong {
  font-weight: $t_weight_bold;
}