.button__red,
.button__black,
.button__white,
.button__social {
    display: inline-block;
    height: $d_button_height;
    padding: 0 $d_margin_small;
    font-family: $t_family_alt;
    line-height: $d_button_height;
    text-align: center;
    text-decoration: none;
    border-radius: $d_radius_base;

    &--big {
        @extend .button__red;
        padding: 0 $d_margin_big;
    }
}

.button__red {
    background: $c_red;
    color: $c_white;

    &:hover,
    &:focus,
    &:active {
        background: darken($c_red, 5);
    }
}

.button__black {
    background: $c_black;
    color: $c_white;

    &:hover,
    &:focus,
    &:active {
        background: lighten($c_black, 5);
    }
}

.button__social {
    background: $c_black;
    color: $c_white;
    margin: 0 $d_margin_small $d_margin_small 0;

    i {
        padding: 0 10px 0 0;
    }

    &:hover,
    &:focus,
    &:active { 
        background: lighten($c_black, 5);
    }
}
