.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($c_black, .8);

    .modal__container {
        display: fixed;
        width: 100%;
        max-width: 700px;
        margin: 100px auto;
        background: $c_white;
        padding: $d_margin_small;
        border-radius: $d_radius_base;
    }

    .modal__header {
        h1 {
            padding-bottom: 5px;
            border-bottom: 1px solid $c_grey;
            margin-bottom: $d_margin_small;
            
            span {
                float: right;
                font-size: $t_size_base;
                line-height: $t_size_h1;
                padding-top: 7px;
                cursor: pointer;
            }
        }
    }

    .modal__content {
        .modal__input {
            @include span-columns(6);
            @include omega(2n);
            margin-bottom: $d_margin_small;

            input {
                background: rgba($c_black, .1);
            }
        }
    }

    .modal__footer {
        @include clearfix();

        .modal__button {
            @include span-columns(6);
            @include omega(2n);

            a {
                width: 100%;
            }
        }
    }
}