    <div class="event">
    <!-- start header -->
    <header>
        <div class="container">
            <!-- start topbar -->
            <div class="header__logo">
                <h1>
                    <a href="/">Tikee</a>
                </h1>
            </div>
            <div class="header__menu">
                <nav>
                	<ul>
                		<li class="mobile_show">
                			<a href="#">Toon menu</a>
                		</li>
                		<li>
                			<a href="/#/events">Events</a>
                		</li>
                		<li>
                			<a href="/#/about">Over Tikee</a>
                		</li>

                		<li class="logged_in">
                			<a href="/#/account/tickets">Mijn Tickets</a>
                		</li>
                		<li class="logged_in">
                			<a href="/#/account/events">Mijn Events</a>
                		</li>
                		<li class="logged_in">
                			<a href="/#/logout" ng-click="logout()">Logout</a>
                		</li>

                		<li class="not_logged_in">
                			<a href="/#/login" ng-click="login()">Login</a>
                		</li>
                		<li class="not_logged_in">
                			<a href="/#/register" ng-click="register()">Register</a>
                		</li>
                	</ul>
                </nav>
            </div>
            <!-- end topbar -->

            <!-- start header content -->
            <div class="header__content">
                <div class="header__eventinfo" ng-repeat="event in event_detail">
                    <h1>{{ event.name }}</h1>
                    <p>
                        <span>{{ event.datetime | date:'d MMMM' }} om {{ event.time }}</span>
                        <span>&euro; {{ event.price }}</span>
                    </p>
                </div>
            </div>
            <!-- end header content -->
        </div>
    </header>
    <!-- end header -->

    <!-- start black -->
    <div id="black">
        <div id="buy" class="blacks">
            <div class="buy__header">
                <h1></h1>
                <h2 ng-click="hide_black()">X</h2>
                <p></p>
            </div>
            <div class="buy__form">
                <input type="text" name="voornaam" placeholder="Voornaam">
                <input type="text" name="achternaam" placeholder="Achternaam">
                <input type="text" name="email" placeholder="E-mail">
                <input type="text" name="email_again" placeholder="E-mail bevestigen">
                <input type="number" name="tickets" placeholder="Aantal tickets">
                <input type="submit" value="Tickets bestellen" ng-click="buy_confirm()">
            </div>
        </div>
        <div id="thanks" class="blacks">
            <div class="thanks__header">
                <h1></h1>
                <p></p>
            </div>
            <div class="thanks__text">
                <p></p>
                <input type="submit" value="Sluiten" ng-click="confirm()">
            </div>
        </div>
        <div id="login" class="blacks">
            <div class="buy__header">
                <h1>Login</h1>
                <h2 ng-click="hide_black()">X</h2>
                <p></p>
            </div>
            <div class="buy__form">
                <input type="text" name="login_username" placeholder="Username">
                <input type="password" name="login_password" placeholder="Password">
                <input type="submit" value="Login" ng-click="login_user()">
            </div>
        </div>
        <div id="register" class="blacks">
            <div class="buy__header">
                <h1>Register</h1>
                <h2 ng-click="hide_black()">X</h2>
                <p></p>
            </div>
            <div class="buy__form">
                <input type="text" name="register_username" placeholder="Username">
                <input type="text" name="register_email" placeholder="E-mail">
                <input type="text" name="register_first_name" placeholder="First name">
                <input type="text" name="register_last_name" placeholder="Last name">
                <input type="password" name="register_password" placeholder="Password">
                <input type="password" name="register_confirm_password" placeholder="Password confirm">
                <input type="submit" value="Register" ng-click="register_user()">
            </div>
        </div>
    </div>
    <!-- end black -->

    <!-- start event -->
    <main>
        <div class="container">
            <article ng-repeat="event in event_detail">
                <div class="event__main">
                    <h1>{{ event.name }}</h1>
                    <br>
                    <p>
                        {{ event.description }}
                    </p>

                    <div class="event__share">
                        <a href="{{ event.website_url }}" target="_blank" class="button__social">
                            <i class="fa fa-link"></i> Website
                        </a>
                        <a href="#" class="button__social button__buy" ng-click="buy(event.id)">
                            <i class="fa fa-money"></i> Koop uw ticket!
                        </a>
                    </div>

                    <h2 class="peopleHide">Deze mensen gaan ook naar {{ event.name }}!</h2>
                    <div class="event__people" ng-repeat="person in event_people">
                        <div class="people__avatar" style="background-image: url('http://www.tikee.be:3000/pictures/{{ person.avatar }}');"></div>
                        <h3>
                            {{ person.username }}<br>
                            <span style="opacity: .5">{{ person.first_name }} {{ person.last_name_abbr }}</span>
                        </h3>
                    </div>
                </div>
                <div class="event__sidebar">
                    <img src="http://www.tikee.be:3000/{{ event.image }}" style="width: 100%; margin-bottom: 20px;"/>
                    <div class="event__date">
                        <h3>Wanneer</h3>
                        <p>
                            {{ event.datetime }} om {{ event.time }}
                        </p>
                    </div>
                    <div class="event__place">
                        <h3>Waar</h3>
                        <p>
                            {{ event.address }}
                        </p>
                    </div>
                    <div class="event__map">
                        <a href="#" class="button__social button__buy" ng-click="buy(event.id)">
                            <i class="fa fa-money"></i> Koop uw ticket!
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </main>
    <!-- end event -->

    <!-- start search -->
    <section class="search">
        <div class="container">
            <input type="text" name="query" value="" id="searchtext" placeholder="Op zoek naar een goed feestje?">
            <input type="submit" name="search" id="searchbutton" value="ga op zoek">
        </div>
    </section>
    <!-- end search -->

    <!-- start events -->
    <section class="events">
        <div class="container">
            <h2 class="section__title">Deze evenementen zijn ook de moeite waard!</h2>

            <div class="row">
                <article class="event" ng-repeat="event in events track by $index">
                    <a href="/#/events/{{ event.id }}">
                        <div class="event__photo" style="background-image: url('http://www.tikee.be:3000/{{ event.image }}')">
                            <div class="event__price">
                                <span>&euro; {{ event.price }}</span>
                            </div>
                        </div>
                        <h1>
                            {{ event.name }}
                        </h1>
                        <p class="event__date">
                            {{ event.datetime }} om {{ event.time }}
                        </p>
                    </a>
                </article>
            </div>
        </div>
    </section>
    <!-- end events -->

    <!-- start newsletter -->
    <section class="newsletter">
        <div class="container">
            <div class="content">
                <p>
                    Wil je graag op de hoogte blijven van <strong>wijze feestjes en coole events</strong>? Abonneer je dan
                    snel op onze nieuwsbrief en ontvang wekelijks <strong>de beste events bij jou in de buurt</strong>!
                </p>
                <div class="newsletter__form">
                    <form action="//shaunjanssens.us1.list-manage.com/subscribe/post?u=7b962871708a8e6f019a19e40&amp;id=96c1ce306e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="text" name="EMAIL" value="" placeholder="Gewoon je e-mailadres, meer is niet nodig" id="mce-EMAIL">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" value="abonneren">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end newsletter -->

    <!-- start footer -->
    <footer>
        <div class="container">
            <!-- start footerbar -->
            <div class="footer__logo">
                <p>
                    <a href="/">Tikee</a>
                </p>
            </div>
            <div class="footer__menu">
                <nav>
                    <ul>
                        <li>
                            <a href="/#/about">Over Tikee</a>
                        </li>
                        <li class="footer__menu--social">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="footer__menu--social">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- end footerbar -->
        </div>
    </footer>
    <!-- end footer -->
</div>
