<div class="{{vm.$$ui.classname}}">
    <header>
        <div class="container">
            <!-- start topbar -->
            <div class="header__logo">
                <h1>
                    <a href="/">Tikee</a>
                </h1>
            </div>
            <div class="header__menu">
                <nav>
                   <ul>
                       <li class="mobile_show">
                           <a href="#">Toon menu</a>
                       </li>
                       <li>
                           <a href="/#/events">Events</a>
                       </li>
                       <li>
                           <a href="/#/about">Over Tikee</a>
                       </li>

                       <li class="logged_in">
                           <a href="/#/account/tickets">Mijn Tickets</a>
                       </li>
                       <li class="logged_in">
                           <a href="/#/account/events">Mijn Events</a>
                       </li>
                       <li class="logged_in">
                           <a href="/#/logout" ng-click="logout()">Logout</a>
                       </li>

                       <li class="not_logged_in">
                           <a href="/#/login" ng-click="login()">Login</a>
                       </li>
                       <li class="not_logged_in">
                           <a href="/#/register" ng-click="register()">Register</a>
                       </li>
                   </ul>
                </nav>
            </div>
            <!-- end topbar -->

            <!-- start header content -->
            <div class="header__content">
                <h1 class="header__intro">
                    Koop tickets online, simpel en snel
                </h1>
                <div class="header__search">
                    <input type="text" name="query" value="" id="searchtext" placeholder="Op zoek naar een goed feestje?">
                    <input type="submit" name="search" id="searchbutton" value="ga op zoek">
                </div>
            </div>
            <!-- end header content -->
        </div>
    </header>

    <!-- start black -->
    <div id="black">
        <div id="login" class="blacks">
            <div class="buy__header">
                <h1>Login</h1>
                <h2 ng-click="hide_black()">X</h2>
                <p></p>
            </div>
            <div class="buy__form">
                <input type="text" name="login_username" placeholder="Username">
                <input type="password" name="login_password" placeholder="Password">
                <input type="submit" value="Login" ng-click="login_user()">
            </div>
        </div>
        <div id="register" class="blacks">
            <div class="buy__header">
                <h1>Register</h1>
                <h2 ng-click="hide_black()">X</h2>
                <p></p>
            </div>
            <div class="buy__form">
                <input type="text" name="register_first_name" placeholder="First name">
                <input type="text" name="register_last_name" placeholder="Last name">
                <input type="text" name="register_username" placeholder="Username">
                <input type="text" name="register_email" placeholder="E-mail">
                <input type="password" name="register_password" placeholder="Password">
                <input type="password" name="register_confirm_password" placeholder="Password confirm">
                <input type="submit" value="Register" ng-click="register_user()">
            </div>
        </div>
    </div>
    <!-- end black -->

    <!-- start events -->
    <section class="events">
        <div class="container">
            <h2 class="section__title">Deze evenementen zijn 100% demax!</h2>

            <div class="row">
                <article class="event" ng-repeat="event in events track by $index">
                    <a href="/#/events/{{ event.id }}">
                        <div class="event__photo" style="background-image: url('http://www.tikee.be:3000/{{ event.image }}')">
                            <div class="event__price">
                                <span>&euro; {{ event.price }}</span>
                            </div>
                        </div>
                        <h1>
                            {{ event.name }}
                        </h1>
                        <p class="event__date">
                            {{ event.datetime }} om {{ event.time }}
                        </p>
                    </a>
                </article>
            </div>

            <div class="cta__more">
                <div class="button">
                    <a href="/#/events" class="button__red">
                        alle events
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end events -->

    <!-- start about steps -->
    <section class="steps">
        <div class="container">
            <div class="step">
                <div class="step__count">
                    <span>1</span>
                </div>
                <div class="step__content">
                    <h3>Maak een account</h3>
                    <p>
                        Een account maken is helemaal gratis, hiermee maak je niet enkel evenementen aan maar koop je
                        ook je tickets.
                    </p>
                </div>
            </div>
            <div class="step">
                <div class="step__count">
                    <span>2</span>
                </div>
                <div class="step__content">
                    <h3>Vind jouw event</h3>
                    <p>
                        Maak gebruik van onze geavanceerde zoektool om het feestje te vinden dat perfect bij jou past.
                    </p>
                </div>
            </div>
            <div class="step">
                <div class="step__count">
                    <span>3</span>
                </div>
                <div class="step__content">
                    <h3>Print jouw Tikee <sup>*</sup></h3>
                    <p>
                        <sup>*</sup> ow ow ow, rustig aan! We printen niks meer af in 2016! Breng jouw smartphone mee naar het
                        event en ga zo binnen.
                    </p>
                </div>
            </div>

            <div class="cta__more">
                <div class="button">
                    <a href="/#/about" class="button__red">
                        nog vragen?
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end about steps -->

    <!-- start newsletter -->
    <section class="newsletter">
        <div class="container">
            <div class="content">
                <p>
                    Wil je graag op de hoogte blijven van <strong>wijze feestjes en coole events</strong>? Abonneer je dan
                    snel op onze nieuwsbrief en ontvang wekelijks <strong>de beste events bij jou in de buurt</strong>!
                </p>
                <div class="newsletter__form">
                    <form action="//shaunjanssens.us1.list-manage.com/subscribe/post?u=7b962871708a8e6f019a19e40&amp;id=96c1ce306e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="text" name="EMAIL" value="" placeholder="Gewoon je e-mailadres, meer is niet nodig" id="mce-EMAIL">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" value="abonneren">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end newsletter -->

    <!-- start footer -->
    <footer>
        <div class="container">
            <!-- start footerbar -->
            <div class="footer__logo">
                <p>
                    <a href="/">Tikee</a>
                </p>
            </div>
            <div class="footer__menu">
                <nav>
                    <ul>
                        <li>
                            <a href="/#/about">Over Tikee</a>
                        </li>
                        <li class="footer__menu--social">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="footer__menu--social">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- end footerbar -->
        </div>
    </footer>
    <!-- end footer -->

</div>
