* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', Arial, sans-serif; }
  body h1, body h2, body h3, body h4 {
    font-family: Montserrat, Arial, sans-serif; }
  body .container aside {
    width: 25%;
    float: left;
    height: 100vh;
    position: fixed;
    background: #ebebeb; }
    body .container aside h1 {
      padding: 10px;
      width: 80%;
      margin: 10px 10% 20px;
      border-bottom: 1px solid black;
      text-align: center;
      font-size: 2rem; }
    body .container aside ul {
      width: 90%;
      margin: 0 5%; }
      body .container aside ul a {
        color: black;
        text-decoration: none; }
        body .container aside ul a li {
          font-size: 1.2rem;
          padding: 10px 5%;
          margin-bottom: 10px; }
      body .container aside ul a:hover {
        background: white; }
        body .container aside ul a:hover li {
          background: white; }
  body .container main {
    float: right;
    height: 100vh;
    width: 75%; }
    body .container main h1 {
      padding: 20px;
      font-size: 2rem; }
    body .container main table {
      margin: 10px 20px; }
      body .container main table tr td {
        padding: 5px; }
        body .container main table tr td img {
          height: 30px; }
      body .container main table tr:nth-of-type(odd) {
        background: #ebebeb; }
      body .container main table tr:first-of-type {
        background: black;
        color: white; }

/*# sourceMappingURL=common.css.map */
