* { box-sizing: border-box; }

body {
    font-family: 'Open Sans', Arial, sans-serif;

    h1, h2, h3, h4 { font-family: Montserrat, Arial, sans-serif; }

    .container {
        aside {
            width: 25%;
            float: left;
            height: 100vh;
            position: fixed;
            background: #ebebeb;
        
            h1 {
                padding: 10px;
                width: 80%;
                margin: 10px 10% 20px;
                border-bottom: 1px solid black;
                text-align: center;
                font-size: 2rem;
            }

            ul {
                width: 90%;
                margin: 0 5%;

                a {
                    color: black;
                    text-decoration: none;

                    li {
                        font-size: 1.2rem;
                        padding: 10px 5%;
                        margin-bottom: 10px;
                    }
                }

                a:hover {
                    li{ background: white; }
                    background: white;
                }
            } 
        }

        main {
            float: right;
            height: 100vh;
            width: 75%;

            h1 {
                padding: 20px;
                font-size: 2rem;
            }

            table {
                margin: 10px 20px;
                tr {
                    td {
                        padding: 5px;

                        img {
                            height: 30px;
                        }
                    }
                }

                tr:nth-of-type(odd) {
                    background: #ebebeb;
                }

                tr:first-of-type {
                    background: black;
                    color: white;
                }
            }
        }
    }
}
